main {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
  align-items: center;
}

main > div > div{
  width: 100%;
  border-bottom: 2px solid grey;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}
